body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro',Arial,sans-serif;
    overflow: auto;
    background-color: #161616;
}

* {
    user-select: none;
    -webkit-user-drag: none;
}

.container-fluid {
    background-color: #161616;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.formDados {
    width: 100vw;
    height: 100vh;
    background-color: #161616;
}

.avatar {
    width: 135px;
    height: 135px;
    min-width: 35px;
    min-height: 35px;
    object-fit: cover;
    background-color: rgba(39, 39, 39, 0.459) !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img {
    display: flex;        
    align-items: center;
    justify-content: center;
    width: 135px;                 
    height: 135px;
    text-decoration: none;      
}

.pencil {
    color: #ffffff41;
    font-size: 20px;
}

.label-senha {
    color: white;
    font-style: italic;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.label-email {
    color: white;
    font-style: italic;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.input-email {
    width: 70vw;
    height: 6vh;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
}

.required {
    color: #ef4444;
}

.input-senha {
    width: 70vw;
    height: 6vh;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
}

.input-senha-nova {
    width: 70vw;
    height: 6vh;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: rgb(0, 0, 0);
}

.pencil-white {
    color: white;
}

.ban {
    color: white;
}

.confirmar {
    background-color: #000000;
    color: white;
    text-decoration: none;
    width: 70vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    
}

.confirmar:hover {
    background: #0e0e0e;
    text-decoration: none;
    transform: translateY(-2px);
    color: rgb(255, 255, 255);
}

.subtitulo {
    font-style: italic;
    font-size: 15px;
}

.deletar {
    text-decoration: none;
    color: rgb(156, 0, 0);
    border-radius: 15px;
    width: 73vw;
    height: 45px;
    margin-left: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.deletar:hover {
    color: rgb(255, 0, 0);
}

.dropdown-menu {
    background-color: #333333a1;
    width: auto;
    height: auto;
    border-radius: 12px;
    padding: 1.5rem;
}

.dropdown-menu a {
    width: 90px;
    height: 90px;
    background-color: #22222248;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.dropdown-menu a:hover {
    transform: scale(0.88);
    background-color: #00000031;
}

.dropdown-menu img {
    width: 90px; 
    height: 90px;
    object-fit: contain;
    border-radius: 50%;
}

.dropdown-toggle::after {
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}

.dropdown-toggle {
    text-decoration: none;
}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(-180deg);
}

.dropdown-toggle:hover::after {
    transform: rotate(-180deg);
}

.dropdown-menu.show {
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: grid !important;
    grid-template-columns: repeat(3, 100px) !important;
    gap: 10px !important;
}

.voltar {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.voltar:hover {
    color: rgb(87, 87, 87);
}

.voltar-main {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}

.voltar-main:hover {
    color: rgb(87, 87, 87);
}

@media (max-width: 768px) {
    .deletar {
    width: 85vw;
    height: 45px;
    padding: 10px;
    }

}